<head>
    <!-- 引入主题样式 -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

    <!-- MathJax 配置 -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            TeX: { equationNumbers: { autoNumber: "all" } },
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                processEscapes: true
            }
        });
    </script>

    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
